<div class="story-wrapper">
    <div class="story-box">
        <div class="story-logo">
            <p>KEBABCI</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non in eum quas hic dicta modi dolore obcaecati? Incidunt quos voluptates, impedit quidem velit consequuntur facere eaque eos labore, et omnis?
        Ducimus ipsa autem esse voluptatibus ut tempore optio perspiciatis deserunt ab maiores, eaque obcaecati excepturi debitis necessitatibus nesciunt aliquid! Corporis earum ullam, ad itaque repudiandae omnis amet nam consequatur. Deleniti.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, in quos ab necessitatibus unde dolore adipisci ut maxime repudiandae minus minima. Tempora, amet deserunt culpa explicabo aut autem labore veniam.
        Quisquam voluptate culpa odit nam debitis explicabo harum tempora provident consectetur ullam itaque amet, quaerat soluta reprehenderit est voluptatum maiores eum voluptas. Iure sunt veritatis ad corrupti eius dicta. Maxime.</p>
    </div>
    <button (click)="test()">test 1 2 3</button>
    <p>price: {{ totalPrice$ | async }}</p>
    <p>names: {{ names$ | async }}</p>
    <button (click)="add()">Add Item</button>
</div>